{% extends "base.html" %}

{% block content %}
    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>
    <div id="wrapper">
        <div id="login" class="animate form">
            <h1>Edit Profile</h1>
            <h4><p>Welcome to your profile, please feel free to update your details, </p>
                <p>if it's first time here, ensure to give us your gender, sexual preferences and description of
                    yourself </p></h4>
            <form method="POST" action="/editprofile"
                  enctype="multipart/form-data">
                <table>
                    <td>
                        <div id="profile-container">
                            <image id="profileImage" src="/static/images/1.png"/>
                        </div>
                        <input id="imageUpload" type="file"
                               name="profile_photo" placeholder="Photo" required="" capture>
                        <span class="field__label">Change your firstname</span>
                        <input name="fname"
                               value="{{ firstname }}"
                               placeholder="change your firstname"/>
                        <label class="field field_type3">
                            <span class="field__label">Change your lastname</span>
                            <input name="lname" class="field__input"
                                   value="{{ lastname }}"
                                   placeholder="change your lastname"/>
                        </label>
                        <label class="field field_type3">
                            <span class="field__label">Change your username</span>
                            <input name="uname" class="field__input"
                                   value="{{ username }}"
                                   placeholder="change username"/>

                        </label>

                        <label class="field field_type3">
                            <span class="field__label">Change your e-mail</span>
                            <input type="email" name="email"
                                   class="field__input"
                                   value="{{ email }}"
                                   placeholder="Change your e-mail"/>

                        </label>
                        <br>

                        <label class="field field_type3">
                            <span class="field__label">Age</span>
                            <input type="text" name="age"
                                   class="field__input"
                                   value="{{ age }}"
                                   placeholder="How old are you"/>

                        </label>
                        <br>
                        <label class="field field_type3">
                            <span class="field__label">Short Bio</span><br>
                            <textarea name="bio"
                                      class="field__input"
                                      placeholder="A short description of who you are" rows="4"></textarea>
                        </label>
                        <br>
                        <label class="field field_type3">
                            <span class="field__label">Interests</span>
                            <input type="text" name="interests"
                                   class="field__input"
                                   value="{{ interests }}"
                                   id="add"
                                   placeholder="#vegan, #geek, #piercing" multiple/>
                            <br>
                        </label>
                        <span class="field__label">Select Gender</span>
                        <select name="gender" class="">
                            <option value="None_">None Binary</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="bisexual">BiSexual</option>
                        </select>
                        <span class="field__label">Looking for</span>
                        <select name="preference" class="">
                            <option value="select..."></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="bisexual">BiSexual</option>
                        </select>
                        <br>
                        <label class="field field_type3">
                            <span class="field__label-wrap">
                                <span class="field__label">Enter your password</span>
                            </span>
                            <input name="pass" type="password" class="field__input" placeholder="New Password"
                                   autocomplete="off">
                        </label>

                        <label class="field field_type3">
                            <span class="field__label-wrap">
                                <span class="field__label">Confirm your password</span>
                            </span>
                            <input name="confirmpass" type="password" class="field__input"
                                   placeholder="Tip: same as above" autocomplete="off">
                        </label>
                        <br>
                        </label>
                        <br>
                        <label class="field field_type3"> Enable e-mail notification
                            <input type="hidden" name="chkbox" value="1"/>
                            <input type="checkbox" name="chkbox"
                                   value="0" checked {#% if(row['notif'] == 0)%} {{checked}} {%endif%#}> </label>
                        <br>
                        <label class="field field_type3">
                            <input type="hidden" name="location" id="location"/>
                            <span class="field__label" id="mapholder"><a onclick="getLocation()">getlocation</a></span>
                            <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
                        </label>
                        <br>
                        <p class="login button"><input type="submit" name="submit"
                                                       style="float: left; width: 40%; padding-top: 2%"
                                                       value="Save"><input
                                style="width: 40%"
                                type="reset" value="Reset"></p>
                    </td>
                </table>
            </form>
        </div>
    </div>
{% endblock %}