<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('status', function (data) {
                // $('#chat').val($('#chat').val() + '<##' + data.msg + '>\n');
                // $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                $('#chat').val($('#chat').val() + data.msg + '\n'); //PRINT MESSAGE
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    target_id = $('#target_id').val();
                    room_number = $('#room_number').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text, target: target_id, room_number: room_number});
                }
            });
        });
    </script>
    <h1>
        <a href="/profile/{{ target['surname'] }}/{{ target['name'] }}/{{ target['ident'] }}">{{ target['surname'] }} {{ target['name'] }}</a>
    </h1>
    <p>
        {% for message in all_messages %}
            <b>{{ message[0] }} a ecrit:</b> {{ message[2] }}
            <br>
        {% endfor %}
    </p>
    <br>
    <textarea id="chat" style="border: none;" cols="50" rows="5"></textarea><br><br>
    <input id="text" size="50" placeholder="Enter your message here"><br><br>
    <input type="hidden" name="target_id" id="target_id" value="{{ target['ident'] }}">
    <input type="hidden" name="room_number" id="room_number" value="{{ room }}">
    </div>
{% endblock %}