{% extends "base.html" %}

{% block content %}
    <div id="wrapper">
        <div id="login" class="animate form">
            <h1>Profile Details</h1>
            <div class="detail">
                <div class="row">
                    <p class="left">Name :</p>
                    <p class="right">Jenifer</p>
                </div>
                <div class="row_1">
                    <p class="left">Age :</p>
                    <p class="right">21 Years</p>
                </div>
                <div class="row">
                    <p class="left">City :</p>
                    <p class="right">

                    </p>
                </div>
                <div class="row_1">
                    <p class="left">humor :</p>
                    <p class="right">clever/ quick witted</p>
                </div>
                <div class="row">
                    <p class="left">living :</p>
                    <p class="right">with parents</p>
                </div>
                <div class="row_1">
                    <p class="left">email :</p>
                    <p class="right">jlo89pop@soulmate.com</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}