{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    <div id="login" class="animate form">
        <h1>Search New Partner</h1>
        <section>
            <div class="">
                <form action="/search" method="post">
                    <fieldset>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>I am Seeking a</label>
                                <select class="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Bi-sexual</option>
                                </select>
                            </div>
                        </div>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>with Fame rating of</label>
                            </div>
                            <div class="search_column_2">
                                <select name="fame" class="date">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>Desired Age</label>
                            </div>
                            <div class="search_column_2">
                                <select name="age" class="date">
                                    <option>20 - 29 yrs.</option>
                                    <option>30 - 39 yrs.</option>
                                    <option>40 - 49 yrs.</option>
                                    <option>50 - 59 yrs.</option>
                                    <option>60 - ~ yrs.</option>
                                </select>
                            </div>
                        </div>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>Interested in</label>
                            </div>
                            <div class="search_column_2">
                                <select name="interests" class="date">
                                    {% for row in data %}
                                        <option>life Partner</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>Desired City</label>
                            </div>
                            <div class="search_column_2">
                                <select name="location" class="date">
                                    {% for row in data %}
                                        <option>{{ row["location"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="search_row">
                            <div class="search_column_1">
                                <label>By Username</label>
                            </div>
                            <div class="search_column_2">
                                <input type="text" name="uname" value=""/>
                                <label class="check">With Photo</label>
                                <input type="checkbox" name="" value="" class="checkbox"/>
                            </div>
                        </div>
                    </fieldset>
                    <p class="login button">
                        <button class="login button" type="submit" value="">Find Soul Mate</button>
                    </p>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}